<h2>Create User</h2>
<%= form_with model: @user do |form| %>
  <div>
    <%= form.label :username %><br>
    <%= form.text_field :user_name %>  
  </div>

  <div>
    <%= form.label :age %><br>
    <%= form.text_field :age %><br>
  </div>

  <div>
    <%= form.label :city %><br>
    <%= form.text_field :city %><br>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
<%= link_to "Back", root_path %>